@media (max-width: 1200px) { 
    section#portfolio .portfolio-item{
width: 49%;
    } 
    section#portfolio .portfolio-item:last-child{
        width: 66.7%;
    }
}

@media (max-width: 768px){
    #menu .toggle{
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    /* ukrywamy elementy menu i na klik rozwijamy liste */
    
    #menu ul {
        display: none;
    }
    
    #menu #drop:checked + ul {
        display: block;
    }
    
/*    tworzymy liste jeden pod  drugim */
    
    #menu > ul > li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
    }
    
    header#main-header .header-caption {
        padding: 10%;
    }
    
/*    witek010@gmail.com*/
    
}
    
@media (max-width: 680px){
    #portfolio .portfolio-items .portfolio-item{ /* nie dziala ? SCIEZKA MUSI BYC IDENTYCZNA JAK W STYLE CSS !!! */   
        width: 100%;
    }
    
        section#portfolio .portfolio-item:last-child{
        width: 100%;
    }
    
    header#main-header .header-caption h1 {
        font-size: 3em;
    }
    header#main-header .header-caption h2 {
        font-size: 1.5em;
    }
    
    #about div.col-1-2 {
        width: 100%;
    }
}
    
@media (max-width: 480px){

   
    
}
