/*

font-family: 'Roboto', sans-serif;
*/

*{ 
	box-sizing: border-box;
}

body {
    maring: 0 auto;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}

nav#menu{
    background-color: #fff;
    opacity: 1;
    margin-left: 60%;
}

nav#menu ul>li{
    display: inline-block;
    padding: 0 20px;    
    list-style: none;    
}

nav#menu ul>li a{    
    text-decoration: none;
    font-style: none;
    color: gray;  
    opacity: 0.5;
}

header#header img{
    position: relative;
}

header#header>h1,p{
    
    text-align: center;
    padding: 2em 0; 
    margin-bottom: 50px;
}

header#header>h1{
    
    font-size: 4em;
}

header#header>h1>span{
    color: green;
}

header#header>p{
    
    font-size: 2em;
}


