/*


*/


/* General styles - START */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #291f1a;
}

a {
    transition: all .3s;
}

span {
    color: green;
    font-weight: 400;
}

h2 {
    text-align: center;
}

.col-1-2 {
    float: left;
    width: 50%;
}


/* General styles - STOP*/

nav#menu {
    background-color: #fff;
    margin-bottom: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
}

nav#menu>ul {
    margin: 0;
    text-align: right;
}

nav#menu ul>li {
    display: inline-block;
    padding: 25px;
}

nav#menu ul>li a {
    text-decoration: none;
    color: #1ac056;
    opacity: 0.5;
    font-weight: 300;
    text-transform: lowercase;
    /* zabezpieczenie zeby wszystkie litery male byly */
}

nav#menu ul>li a:hover {
    color: #291f1a;
}

header#main-header {
    color: #fff;
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
}

header#main-header .header-caption {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

header#main-header .header-caption h1 {
    font-size: 4em;
    font-weight: 300;
}

header#main-header .header-caption h2 {
    font-weight: 100;
}

#about {
    background-color: #f9fcfe;
    overflow: hidden;
}

#about figure {
    margin: 0;
    text-align: center;
    -webkit-box-shadow: 7px -4px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px -4px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px -4px 12px 0px rgba(0, 0, 0, 0.75);
}

#about figure img {
    max-height: 350px;
    max-width: 100%;
    border: 10px solid #fff;
    border-radius: 10px;
}

section#about {
    padding: 30px 80px;
    padding-bottom: 10%;
}

#about div.col-1-2 p {
    font-weight: 300;
    line-height: 24px;
}

/* Section Skills Styles Start*/
/*
section#skills {
    border-top: 5px solid rgba(154, 154, 154, 0.25);
    padding-top: 5%;
    margin-bottom: 35%;
    
}

section#skills h2 + p {
    text-align: center;
}

section#skills div.icons {
    width: 100%;
    padding-left: 30%;

}

section#skills div.icons figure {
    float: left;
    widows: 25%;
    text-align: center;
}
*/

/* Section Skills Styles Stop*/

#skills > p {
    text-align: center;
}

#skills div#skills-icons {
    text-align: center;
}

#skills #skills-icons figure {
    display: inline-block;
}

#skills #skills-icons figure img {
    margin-bottom: 15px;
}

/*portfolio*/

#portfolio #portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}


#portfolio #portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}

#portfolio #portfolio-item-3 {
    background-image: url(../img/portfolio4.jpg);
}

#portfolio .portfolio-items {
    text-align: center;
    font-size: 0;
}

#portfolio .portfolio-items .portfolio-item {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 33.3333%;
    position: relative;
}

#portfolio .portfolio-items .portfolio-item .item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: initial;
}

/* hover dziala na dalsze elementy bo bez hovera wszystko jest przezroczyste gosciu */

#portfolio .portfolio-items .portfolio-item .item-mask:hover {
    opacity: 1;
}

#portfolio .portfolio-items .portfolio-item .item-mask .item-content {
    height: 330px;
    border: 1px solid #fff;
    margin: 10px;
    position: relative;
}

#portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-inner {
    color: #fff;
    position: absolute;
    top: 50%; /* pozycjonuje 50 procent od relatywnej item-content */
    transform: translateY(-50%);
    right: 0;
    left: 0;
    padding: 5px;
}

#portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-inner a {
    color: #fff;
}
#portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-inner a:hover {
    color: #1ac056;
}

#contact{
    background-color: #213b50;
    color: #fff;
    overflow: hidden;
}

#contact .contact-data {
    width: 50%;
    float: left;
    padding-left: 35px;
}

#contact .contact-form {
    width: 50%;
    float: left;
    margin-top: 100px;
}

#contact .contact-data h2 {
    text-align: left;
    font-size: 38px;
}

#contact .contact-data address {
    font-style: normal;
    margin: 72px 0;
    line-height: 25px;
}

#contact .contact-data address a {
    color: #1ac085;
}

#contact .contact-data .contact-social-icons a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 38px;
    margin-right: 30px;
    font-size: 22px;
}

#contact .contact-data .contact-social-icons a:hover {
    color: #213b50;
    border: 1px solid #213b50;
    background-color: #fff;
}